.landing {
    background-image: url('../assets/potion_bear.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text {
        color: white;
        margin: 0;
        text-align: center;
        margin: 0 0.75rem;
        font-size: 1.25rem;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 3.5rem;
        width: 6rem;
        background-color: rgb(196, 96, 96);
        color: rgb(95, 0, 0);
        font-size: 2rem;
        margin-top: 2rem;
        border-radius: 5px;
        border: 1px solid rgb(95, 0, 0);
        :hover {
            background-color: white;
        }
    }
}